<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrarse</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://kit.fontawesome.com/15102d2fd3.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="logo-pagina">
      <img src="img/logo-mercado-liebre.svg" alt="Imagen del logo de la pagina">
    </div>
    <div class="buscador">
      <form action="/resultadoBusqueda.html" method="get">
        <input placeholder="Busca productos, marcas" type="text">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>
    <div class="frase">
      <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
    <nav>
      <div class="nav-site">
        <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
      </div>
      <div class="nav-user">
        <ul>
          <li><a href="/register">Creá tu Cuenta</a><i class="fa-solid fa-id-card"></i></li>
          <li><a href="/login">Ingresá</a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
          <li><a href="#">Mis Compras</a><i class="fa-solid fa-basket-shopping"></i></li>
        </ul>
      </div>
      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </nav>
  </header>

  <main>
    <form action="/" method="GET">
      <div class="register">
        <div class="nombre-apellido">
          <label for="nombre-apellido">Nombre y Apellido:</label>
          <input type="text" name="nombre-apellido">
        </div>
        <div class="nombre-usuario">
          <label for="usuario">Nombre de Usuario:</label>
          <input type="text" name="usuario">
        </div>
        <div class="nacimiento">
          <label for="nacimiento">Fecha de Nacimiento:</label>
          <input type="date" name="nacimiento">
        </div>
        <div class="domicilio">
          <label for="domicilio">Domicilio:</label>
          <input type="text" name="domicilio">
        </div>
        <div class="perfil-usuario">
          <label for="perfil-usuario">Perfil de Usuario</label>
          <div class="comprador">
            <label for="comprador">Comprador:</label>
            <input type="radio" name="perfil-usuario" id="perfil-usuario">
          </div>
          <div class="vendedor">          
            <label for="vendedor">Vendedor:</label>
            <input type="radio" name="perfil-usuario" id="perfil-usuario">
          </div>
        </div>
        <div class="intereses">
          <label for="intereses">Intereses:</label>
          <input type="checkbox" name="electro" value="electro" id="electro">
          <label for="electro">Electro</label>
    
          <input type="checkbox" name="intereses" id="moda" value="moda">
          <label for="moda">Moda</label>
    
          <input type="checkbox" name="intereses" id="hogar" value="hogar">
          <label for="hogar">Hogar</label>
    
          <input type="checkbox" name="intereses" id="jugueteria" value="jugueteria">
          <label for="jugueteria">Jugueteria</label>
    
          <input type="checkbox" name="intereses" id="vida-sana" value="vida-sana">
          <label for="vida-sana">Vida Sana</label>  
        </div>
       <div class="foto-usuario">
        <label for="foto-usuario">Foto de Usuario:</label>
        <input type="file" name="foto-usuario" id="foto-usuario">
       </div>
  
       <div class="contraseña">
        <label for="contraseña">contraseña:</label>
        <input type="password" name="contraseña" id="contraseña">
  
        <label for="contraseña">confirmar contraseña:</label>
        <input type="password" name="contraseña" id="contraseña">
       </div>

        <button type="submit">Enviar</button>
        <button type="reset">Eliminar respuestas</button>
      </div>
    </form>
    <div class="error">
      <h2>Revisa tus datos</h2>
      <p>no puedes usar 1234 como contraseña...</p>
    </div>
  </main>

  <footer>
    <article class="info-footer">
      <i class="fa-solid fa-credit-card"></i>
      <h4>Pagá con tarjeta o en efectivo</h4>
      <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
        puntos de pago. ¡Y siempre es seguro!</p>
    </article>
    <article class="info-footer">
      <i class="fa-solid fa-gift"></i>
      <h4>Envío gratis desde $ 2.500</h4>
      <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
        productos. Es un beneficio de Mercado Puntos.</p>
    </article>
    <article class="info-footer">
      <i class="fa-solid fa-user-shield"></i>
      <h4>Seguridad, de principio a fin</h4>
      <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
        porque estás siempre protegid@.</p>
    </article>
    <article class="copyright">
      <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </article>
  </footer>
</body>
</html>